<div class="home">
    <h1>Hello</h1>
    <p>Thank you for visiting my website. Soon, this page will contain a brief intro.</p>
    <p>Lorem ipsum dolor sit amet, no est putant consulatu. Id has accusam definiebas neglegentur. At sit scripta diceret, cu eum urbanitas efficiendi voluptatibus, an aliquip mentitum sed. Errem albucius duo no, dicunt incorrupte ea eam. Pri an ullum vitae. Ut quod fastidii honestatis pri, pri summo discere appellantur ea. Usu id facete everti oportere.</p>
    <p>Lorem ipsum dolor sit amet, no est putant consulatu. Id has accusam definiebas neglegentur. At sit scripta diceret, cu eum urbanitas efficiendi voluptatibus, an aliquip mentitum sed. Errem albucius duo no, dicunt incorrupte ea eam. Pri an ullum vitae. Ut quod fastidi
    <p>Lorem ipsum dolor sit amet, no est putant consulatu. Id has accusam definiebas neglegentur. At sit scripta diceret, cu eum urbanitas efficiendi voluptatibus, an aliquip mentitum sed. Errem albucius duo no, dicunt incorrupte ea eam. Pri an ullum vitae. Ut quod fastidii honestatis pri, pri summo discere appellantur ea. Usu id facete everti oportere.</p>
</div>