@keyframes openNav{
    from {
        top: -30%;
        opacity: 0;
        box-shadow: none;
    }
    to {
        top: 7vh;
        opacity: 1;
        box-shadow: 0 1px 5px gray;
    }
}

@keyframes closeNav{
    from {
        box-shadow: 0 1px 5px gray;
        opacity: 1;
        top: 7vh;
    }
    to {
        box-shadow: none;
        top: -30%;
        opacity: 0;
    }
}
@keyframes slideOff{
    from {
        right: 0;
        opacity: 1;
    }
    to {
        right: 100%;
        opacity: 0;
    }
}
@keyframes slideOn{
    from {
        right: -100%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
    
}
.open{
    animation-name: openNav;
    animation-duration: .5s;
    animation-fill-mode: both;
}
.close{
    animation-name: closeNav;
    animation-duration: .75s;
    animation-fill-mode: both;
}
.off{
    animation-name: slideOff;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.on{
    animation-name: slideOn;
    animation-duration: 1s;
    animation-fill-mode: both;
}
