@media only screen and  (min-width: 1200px){
    .grid{
        grid: "a" 6vh;
    }
    nav{
        font-size: 2.5vh;
        height: 6vh;
    }
    .arrow{
        visibility: hidden;
    }
    .name{
        cursor: default;
    }
    .name ~ a{
        margin: 0 20px; 
        cursor: pointer;
    }
    .card{
        width: 80%;
        text-align: left;
    }
    .content{
        display: block;
    }
}