html,body{
    font-family: "Sans Serif";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 3vh;
}
.grid{
    display: grid;
    height: 100%;
    grid: "a" 7vh;
}
nav {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px grey;
    height: 7vh;
    background-color: #FFFFFF;
}
.dropDown {
    background-color: white;
    display:            flex;
    justify-content:    space-evenly;
    align-items:        center;
    flex-wrap:          wrap;
    list-style-type:    none;
    position:           fixed;
    top:                -30%;
    margin:             0;
    padding:            0;
    width:              90%;
    z-index:            -1;
    border-radius:      2px 2px 7px 7px;
}
.dropDown li{
    color: grey;
    cursor: pointer;
    padding: 30px;
}
.dropDown li:hover{
    color: black;
}
.arrow{
    height: 2vh;
    width: 2vh;
    position: relative;
    left: 10px;
    top: 1px;
}
.card{
    position: relative;
    right: -100%;
    width: 100%;
    height: 93vh;
    overflow-x: hidden;
    padding: 0 15px;
    text-align: center;
}
.name{
    cursor: pointer;
    position: fixed;
    left: 15px;
    width: auto;
}
.wrapper{
    position: relative;
    z-index: 1;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #FFFFFF;
}