@CHARSET "UTF-8";
*{
    margin: 0;
    padding: 0;
}
#here{
    position:fixed;
    width: 100%;
    overflow: scroll;
    top: 60px;
}
.list{
    margin: 5px;
}
#here.open{
    top: 204px;
}
.view.options{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}
nav{
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 3;
}
nav > div{
    height: 60px;
}
nav a{
    border: thin solid black;
    box-sizing: border-box;
    background-color: white;
    color: black;
    float: left;
    height: 60px;
    text-decoration: none;
    width: 25%;
}
nav a > div{
    text-align: center;
    position: relative;
    top: 20px;
}
.add button{
    padding: 3px;
    border-radius: 6px;
}
.add.content{
    width: 100%;
    border-bottom: thin solid black;
    background-color: white;
    position: fixed;
    
    z-index: 1;
}
.add.open{
    top: 60px;
}
.add.closed{
    top: -84px;
}
.add.form{
    display: table;
    padding: 5px;
    margin: 0 auto;
}
.add.form button{
    position: relative;
    bottom: 22px;
    left: 157px;
}
.add.form input{
    margin: 15px 0 0 0;
}
.add.form div{
    margin: 15px 0 0 0;
}
.task{
    box-sizing: border-box;
    border: thin solid black;
    padding: 5px;
    margin: 0 0 10px 0;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
    position: relative;
}
.task.selected{
    top: 1px;
    left: 1px;
    box-shadow: none;
}
.view.options button{
    box-sizing: border-box;
    width: 33.33%;
    padding: 4px;
    height: 60px;
    flex: auto;
}
.help.content button{
    padding: 3px;
    margin: 10px 5px 5px 5px;
}